:root{
    --white:hsl(0, 0%, 100%);
    --text:hsl(155, 96%, 30%);
    --pale:hsl(32, 37%, 90%);
    --green:hsl(158, 91%, 27%);
}
* {
    margin: 0;
}
body{
    background-color: var(--pale);
}
#header-logo{
    width: 80px;
    object-fit: contain;
}
#nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    width: 100%;
    top: 0;
    background-color: var(--white);
    padding: 10px;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: var(--text);
    padding: 10px;
}
.nav-links a:hover{
    background-color: rgb(255, 242, 3);
}
.logo-container{
    display: flex;
    align-items: center;
}
.the-product{
    font-size: 22px;
    font-weight: 700;
    font-family:"Montserrat";
}
#email-section{
    margin: 150px;
    text-align: center;
}
section{
    margin: 20px 40px;
    text-align: center;
}
input{
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--green);
}
#submit{
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
}
h2{
    font-family: "fraunces";
    margin-bottom: 10px;
    color: black;
}
.feature{
    color: var(--green);
}
#features{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: "montserrat";
}