:root{
    --white:hsl(0, 0%, 100%);
    --text:hsl(156, 5%, 20%);
    --pale:hsl(32, 37%, 90%);
    --green:hsl(158, 91%, 27%);
    --header:hsl(150, 2%, 23%);
}
* {
    margin: 0;
}
body{
    background-color: var(--pale);
}
#header-logo{
    width: 80px;
    object-fit: contain;
}
#nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    width: 100%;
    top: 0;
    background-color: var(--white);
    padding: 10px;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: var(--text);
    padding: 10px;
}
.nav-links a:hover{
    background-color: rgb(255, 242, 3);
}
.logo-container{
    display: flex;
    align-items: center;
}
.the-product{
    font-size: 22px;
    font-weight: 700;
    font-family:"Montserrat";
}
section::before{
    display: block;
    content: " ";
    margin-top: -100px;
    height: 150px;
    visibility: hidden;
    pointer-events: none;
}
#email-section{
    margin: 100px;
    text-align: center;
}
section{
    margin: 20px 40px;
    text-align: center;
}
input{
    padding: 7px;
    border-radius: 5px;
    border: 1px solid var(--green);
}
#submit{
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
}
h2{
    font-family: "fraunces";
    margin-bottom: 10px;
    color: black;
}

#features{
    text-align: left;
    max-width: 800px;
    margin: auto;
}
.feature{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: "montserrat";
}
.icon{
    color: var(--green);
    margin-right: 30px;
}
#video{
    width: 100%;
}
.product-image{
    width: 100%;
    height: 605px;
    border: 1px solid var(--text);
    border-radius: 10px 10px 0 0 ;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.product1{
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/61bfGzdMr2L.jpg");
}
.card{
    margin: auto;
    background-color: var(--white);
    width: 90%;
    margin-bottom: 10px;
}
.inner-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
.content{
    font-family: "montserrat";
    color:var(--text);
    margin-bottom: 10px;
}
.main-price{
    margin-right: 20px;
    font-size: 30px;
    font-family: "fraunces";
    color: var(--green);
}
.old-price{
    text-decoration: line-through;
    color: var(--text);
}
.author{
    font-size: 26px;
    font-family: "montserrat";
    letter-spacing: 5px;
    text-transform:uppercase;
}
.header{
    font-family: "fraunces";
    margin: 10px 0px;
    color: var(--header);
}
.add{
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
}